.proj-back__btn {
    border: none;
    outline: none;
    background: transparent;
    text-decoration: underline;
    display: flex;
    align-items: center;
    svg {
        width: 20px;
        height: 20px;
        background: #000;
        border-radius: 48px;
        padding: 5px;
        margin-left: 5px;
    }
}
.proj-screen {
    &__container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        align-items: center;
        color: #fff;
        opacity: 1;
        transition: 0.3s;
        .proj-continue-btn {
            background-color: #303643;
            color: inherit;
            padding-right: 5px;
        }
        &.entrance {
            opacity: 0;
            transform: translateX(-50%);
        }
        &.exit {
            opacity: 0;
            transform: translateX(50%);
        }
    }
    &__title {
        color: inherit;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    &__input {
        margin-top: 15px;
        height: 32px;
        span {
            font-size: 12px;
            top: 0;
            padding: 5px;
        }
        input:hover ~ span,
        input:focus ~ span,
        input:valid ~ span {
            transform: translateX(-10px) translateY(-20px);
            font-size: 10px;
        }
        .plus-svg-54 {
            height: 1.5em;
            width: 1.5em;
            transform: translateX(-15%);
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
}